// Fonts
// ===========

$font_family:	"Arial", sans-serif;
$fredoka_one: 	'Fredoka One', cursive, $font_family;
$lato_reg: 		"latoregular", $font_family;
$lato_bold: 	"latobold", $font_family;

// Colors
// ===========
$black:		#020202;
$white: 	#fff;
$brown: 	#f49713;
$blue: 		#105091;
$orange:	#e57609;
$green:		#4a892a;
$violet:	#6a2871;

